@import '../common/settings';

.mono__tag {
  font-family: Inconsolata, Montserrat, Arial;
  background-color: lightgray;
  padding: 4px 12px;
  border-radius: $border-radius-base;
  border: none;
  width: fit-content;
  cursor: pointer;

  &.bordered {
    @include defaultBorder();
  }

  &--round {
    border-radius: 50px;
  }
  &--closable {
    margin-left: 2px;
  }
}
