.mono__datepicker--wrapper {
  .mono__datepicker--input {
    position: relative;
  }
  .mono__calendar {
    display: none;
    position: absolute;
    z-index: 3;
    background-color: white;
  }
  &.open {
    .mono__calendar {
      display: block;
      border: 1px solid #aeaeae;
      width: -moz-fit-content;
      width: fit-content;
      height: -moz-fit-content;
      height: fit-content;
      &--months {
        display: flex;
        justify-content: space-between;
        height: 24px;
        align-items: center;
        padding: 8px 16px;

        &-current {
          cursor: pointer;
          font-weight: 600;
          &-month {
            margin: 0 2px;
          }
          &-year {
            margin: 0 2px;
            color: $clr_dark_gray;
          }
        }
      }

      table {
        th {
          text-align: center;
          padding: 5px;
          font-weight: 700;
          color: #999;
        }
        .slot {
          cursor: pointer;
          .mono__calendar--day {
            border: 1px solid transparent;
            display: block;
            height: 32px;
            line-height: 32px;
            padding: 0;
            text-align: center;
            width: 32px;
            border-radius: 150px;
            margin: 1px;
            &:hover {
              background-color: $clr_dark_gray;
              color: $clr_eclipse;
              border-color: $clr_dark_gray;
            }
          }
          &.selected {
            .mono__calendar--day {
              background-color: $clr_dark_blue;
              color: #fff;
              border-color: $clr_dark_blue;
            }
          }
          &.today {
            .mono__calendar--day {
              border-color: $clr_dark_blue;
            }
          }
        }
      }
    }
  }
}
