.form {
    margin: 24px;    
    padding: 32px;
    &.border {
        border: 1px solid $clr_dark_gray;
    }

    .form__title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 16px;
        @include highlight($clr_beige);
    }

    &__item {
        margin: 5px 0;
        &__label {
            font-family: Inconsolata, Montserrat, Arial;
            color: $clr_eclipse;
            padding-bottom: 5px;

            &.required {

                &:after {
                    content: '*';
                    color: red;
                    margin-left: 2px;
                }

            }
        }

    }
    &__action-group {   
        display: flex;
        margin-top: 16px;
        .form__action {
            &.left-space {
                margin-left: 5px;
            }
        }
    }
}