@import "../common/settings";

.mono__btn {
  height: 42px;
  min-width: 160px;
  max-width: 100%;
  border: none;
  border-radius: 0;
  background-color: $clr_dark_gray;
  @include shadow();

  // size
  &--size-xs {
    height: 32px;
    min-width: 140px;
    .mono__btn__content {
      font-size: 14px;
    }
  }
  // size
  &--size-sm {
    height: 36px;
    min-width: 140px;
    .mono__btn__content {
      font-size: 16px;
    }
  }

  // size
  &--size-lg {
    height: 48px;
    min-width: 200px;
  }

  cursor: pointer;
  position: relative;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: $clr_shade_of_grey;
  }
  &:active {
    background-color: $clr_shade_of_grey;
    @include scale(0.95);
  }

  &__icon {
    position: absolute;
    left: 10px;
  }

  &__content {
    // color: rgba(0,0,0,0.65);
    color: $clr_eclipse;
    font-weight: 600;

    font-family: Inconsolata, Montserrat, Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 1.8px;
    // line-height: 48px;
    text-transform: uppercase;
  }

  // type
  &--type-primary {
    .mono__btn__content {
      color: #fff;
    }
    background-color: $clr_classic_blue;

    &:hover {
      background-color: $clr_dark_blue;
    }
    &:active {
      background-color: $clr_dark_blue;
    }
  }
  &--type-danger {
    .mono__btn__content {
      color: #fff;
    }
    background-color: $clr_mordant_red;

    &:hover {
      background-color: $clr_blood;
    }
    &:active {
      background-color: $clr_blood;
    }
  }

  &--shape-round {
    border-radius: 50px;
  }

  &--disabled {
    cursor: not-allowed;
    .mono__btn__content {
      color: $clr_dark_gray;
    }
    background-color: $clr_whisper;
    &:hover {
      background-color: $clr_whisper;
    }
  }
}

// Icon Button
.mono__icon-btn {
  min-width: unset;
  height: 42px;
  width: 42px;
  padding: 0;

  &--shape-circle {
    border-radius: 21px;
  }

  &--shape-round {
    border-radius: $border-radius-base;
  }
}
