@import "../common/settings";

.mono__form {
    margin: 24px;    
    padding: 32px;
    &.border {
        border: 1px solid $clr_dark_gray;
    }

    .mono__form--title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 16px;
        @include highlight($clr_beige);
    }

    &--item {
        margin: 5px 0;
        &-label {
            font-family: Inconsolata, Montserrat, Arial;
            color: $clr_eclipse;
            padding-bottom: 5px;
            font-weight: 600;

            &.required {

                &:after {
                    content: '*';
                    color: red;
                    margin-left: 2px;
                }

            }
        }

    }
    &--action-group {   
        display: flex;
        flex-wrap: wrap;
        margin-top: 16px;
        .mono__form--action {
            &:not(:last-child) {
                margin-right: 5px;
            }
        }
    }
}