@import "../common/settings";

.mono__progress {
  font-family: Inconsolata, Montserrat, Arial;
  overflow: hidden;
  width: 100%;
  display: flex;
  &.line {

  }

  &--bar {
    background: $clr_whisper;
    flex: 1;
  }
  &--stroke {
    &-round {
      border-radius: 50%;
    }
    &-square {
      border-radius: 0;
    }
  }
  &--info {
    margin-left: 24px;
  }
}
