@import "../common/settings";

.mono__breadcrumb {
  font-family: Inconsolata, Montserrat, Arial;
  border: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 8px;
  li {
    margin: 0;
    padding: 0 4px;
    list-style: none;
  }
  &--container {
    margin: 0 0;
    padding: 0 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    list-style: none;
    overflow: hidden;
  }

  &--root-item {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    &-link {
      margin-right: 8px;
    }
  }

  &--arrow {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
}
