.mono__card {
  font-family: Inconsolata, Montserrat, Arial;
  &.bordered {
    border: 1px solid #aeaeae;
  }
  &--banner {
    width: 100%;
    position: relative;
    &-video {
      width: 100%;
      height: auto;
    }
    &-image {
        width: 100%;
        height: auto;
    }

    &-tip {
      position: absolute;
      top: 8px;
      left: 8px;
    }
  }

  &--body {
    padding: 32px 16px;
    position: relative;
    .mono__card--source-wrapper {
      position: absolute;
      background: white;
      border-radius: 50%;
      width: 48px;
      height: 48px;
      top: -24px;
      background-size: cover;
    }
  }

  &--footer {
    line-height: 1.6em;
    border-top: 1px solid #eceff2;
    padding: 8px 16px;
  }
}
