@import "../common/settings";

.mono__radio {
  display: flex;
  input[type="radio"] {
    position: relative;
    appearance: none;
    font-size: inherit;
    width: 1em;
    margin: 0;
    color: inherit;
    outline: none;

    &::after {
      content: "";
      display: inline-block;
      text-align: center;
      width: 16px;
      height: 16px;
      content: "";
      border: 1px solid $clr_dark_gray;
      background-color: #fff;

      // check
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M692.071703 329.86173c-48.372707-48.387034-112.705921-75.023694-181.146687-75.023694-68.440765 0-132.747373 26.63666-181.148733 75.023694-48.400337 48.374754-75.022671 112.707968-75.022671 181.123151s26.623357 132.74635 75.022671 181.146687c48.374754 48.402383 112.707968 75.023694 181.148733 75.023694 68.441788 0 132.745327-26.647917 181.146687-75.023694 48.427966-48.373731 75.024717-112.706945 75.024717-181.146687C767.096421 442.544115 740.447481 378.237507 692.071703 329.86173' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
      border-radius: 50%;
      background-repeat: no-repeat;
      // background-position: 2px 3px;
      cursor: pointer;
    }

    &:checked::after {
      font-weight: 900;
    }
  }
  input[type="radio"]:checked::after {
    background-color: $clr_classic_blue;
    border-color: $clr_classic_blue;
  }
  
  &.notall {
    input[type="radio"] {
      &::after {
        // minus
        background-color: $clr_classic_blue;
        border-color: $clr_classic_blue;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M892.8 448.2h-761c-35.2 0-63.9 28.8-63.9 63.9 0 35.2 28.8 63.9 63.9 63.9h761c35.2 0 63.9-28.8 63.9-63.9 0.1-35.1-28.7-63.9-63.9-63.9z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
      }
    }
  }
  &--label {
    font-family: Inconsolata, Montserrat, Arial;
    margin-left: 10px;
  }
}
