@import "../../styles/settings";

.mono__checkbox {
  input[type="checkbox"] {
    position: relative;
    appearance: none;
    font-size: inherit;
    width: 1em;
    margin: 0;
    color: inherit;
    outline: none;

    &::after {
      content: ""; 
      display: inline-block;
      text-align: center;
      width: 16px;
      height: 16px;
      content: "";
      border: 1px solid $clr_dark_gray;
      background-color: #fff;
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
      background-repeat: no-repeat;
      background-position: 2px 3px;
      cursor: pointer;
    }

    &:checked::after {
      font-weight: 900;
    }
  }
  input[type="checkbox"]:checked::after {
    background-color: $clr_classic_blue;
    border-color: $clr_classic_blue;
  }
}
