@import "../common/settings";

.mono__checkbox {
  display: flex;
  input[type="checkbox"] {
    position: relative;
    appearance: none;
    font-size: inherit;
    width: 1em;
    margin: 0;
    color: inherit;
    outline: none;

    &::after {
      content: "";
      display: inline-block;
      text-align: center;
      width: 16px;
      height: 16px;
      content: "";
      border: 1px solid $clr_dark_gray;
      background-color: #fff;

      // check
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M937.6 190.1c-25-25-65.4-25-90.4 0L339.9 697.3 176.1 533.5c-24.8-24.8-65-24.8-89.8 0-24.8 24.8-24.8 65 0 89.8l198.8 198.8c2.5 4.1 5.5 7.9 9.1 11.4 25 25 65.4 25 90.4 0l0.9-0.9 552.2-552.2c24.9-24.9 24.9-65.4-0.1-90.3z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
      // background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
      background-repeat: no-repeat;
      // background-position: 2px 3px;
      cursor: pointer;
    }

    &:checked::after {
      font-weight: 900;
    }
  }
  input[type="checkbox"]:checked::after {
    background-color: $clr_classic_blue;
    border-color: $clr_classic_blue;
  }

  &.notall {
    input[type="checkbox"] {
      &::after {
        // minus
        background-color: $clr_classic_blue;
        border-color: $clr_classic_blue;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M892.8 448.2h-761c-35.2 0-63.9 28.8-63.9 63.9 0 35.2 28.8 63.9 63.9 63.9h761c35.2 0 63.9-28.8 63.9-63.9 0.1-35.1-28.7-63.9-63.9-63.9z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
      }
    }
  }
  &--label {
    font-family: Inconsolata, Montserrat, Arial;
    margin-left: 10px;
  }
}
