.cursor {
  display: none;
}
@media (any-pointer: fine) {
  .cursor {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    pointer-events: none;
    opacity: 0;
  }
  .cursor__inner {
    /* Cursor styles */
    --cursor-stroke: gray;
    --cursor-fill: none;
    --cursor-stroke-width: 1px;
    fill: var(--cursor-fill);
    stroke: var(--cursor-stroke);
    stroke-width: var(--cursor-stroke-width);
  }
}
