@import '../common/settings';

.mono__table--container {
  overflow-x: auto;
  max-width: 100%;
  margin-bottom: 1rem;
  .mono__table {
    font-family: Inconsolata, Montserrat, Arial;
    width: 100%;
    border-collapse: collapse;
    td,
    th {
      padding: 15px;
    }
    th {
      .mono__table--sort-icon {
        float: right;
        cursor: pointer;
      }
    }
    &.bordered {
      @include defaultBorder();
      border-collapse: collapse;
      td,
      th {
        @include defaultBorder();
      }
    }
    &.striped {
      .mono__table--body {
        tr:nth-child(odd) {
          background-color: #f2f2f2;
        }
      }
    }
    &.separated {
      border-collapse: separate;
    }
    &--head {
      .checkbox {
        width: fit-content;
      }
    }
    &--body {
      .checkbox {
        width: fit-content;
        text-align: center;
      }
    }
    &--foot {
    }
  }
}
