@import '../common/settings';

.mono__table--container {
  overflow-x: auto;
  max-width: 100%;
  margin-bottom: 1rem;
  .mono__table {
    font-family: Inconsolata, Montserrat, Arial;
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
    display: table;
    box-sizing: border-box;
    display: table;
    &--td,
    &--th {
      padding: 15px;
      display: table-cell;
    }
    &--th {
      .mono__table--sort-icon {
        float: right;
        cursor: pointer;
      }
    }
    &.bordered {
      @include defaultBorder();
      border-collapse: collapse;
      .mono__table--td,
      .mono__table--th {
        @include defaultBorder();
      }
    }
    &.striped {
      .mono__table--body {
        &.mono__table--tr:nth-child(odd) {
          background-color: #f2f2f2;
        }
      }
    }
    &.separated {
      border-collapse: separate;
    }

    &--head {
      .checkbox {
        width: fit-content;
      }
    }
    &--body {
      .checkbox {
        width: fit-content;
        text-align: center;
      }
    }
    &--tr {
      display: table-row;
    }
    &--foot {
    }
  }
}

.mono__table--extra {
  display: flex;
  width: 100%;
  align-items: center;

  &-selected-count {
    font-family: Inconsolata, Montserrat, Arial;
  }

  ul {
    flex: 1;
  }
}

// loading

.table-cell-loader {
  padding: 0;
}
