@import "../common/settings";

.mono__radiolist {
  display: flex;
  &--list {
    flex-direction: column;
  }
  &--item {
    &.left-space {
      margin-left: 5px;
    }
    background-color: #fff;
    display: block;
    position: relative;

    border: 1px solid $clr_dark_gray;
    width: fit-content;
    height: fit-content;
    min-height: 80px;
    min-width: 120px;
    padding: 24px 36px;

    &-content {
      text-align: center;
      &__label {
      }
    }

    &-icon {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      display: block;
      text-align: left;
      color: #3c454c;
      cursor: pointer;
      z-index: 2;
      transition: color 200ms ease-in;
      overflow: hidden;

      &:after {
        width: 24px;
        height: 24px;
        content: "";
        border: 1px solid $clr_dark_gray;
        background-color: #fff;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M512 520.064m-414.464 0a3.238 3.238 0 1 0 828.928 0 3.238 3.238 0 1 0-828.928 0Z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
        background-repeat: no-repeat;
        background-position: 4px 4px;
        border-radius: 50%;
        z-index: 2;
        position: absolute;
        right: 8px;
        top: 8px;
        cursor: pointer;
        transition: all 200ms ease-in;
      }
    }

    &.radiolist--checked {
      border: 1px solid $clr_classic_blue;
      .mono__radiolist--item-icon {
        &:after {
          background-color: $clr_classic_blue;
          border-color: $clr_classic_blue;
        }
      }
    }

    input {
      display: none;
    }
  }
}
