@import "../common/settings";

.mono__uploader {
  font-family: Inconsolata, Montserrat, Arial;
  &--drag {
    padding: 24px 36px;
    text-align: center;
    background: #fafafa;
    border: 1px dashed #d9d9d9;
    cursor: pointer;
    -webkit-transition: border-color 0.3s;
    transition: border-color 0.3s;
    &-hint {
      margin-top: 16px;
      label {
        color: $clr_classic_blue;
        cursor: pointer;
        font-style: italic;
      }
    }
  }
  &--input {
    display: none;
  }
  &--file-list {
    margin-top: 8px;
    .mono__uploader--file-item {
      margin-top: 8px;
      border: 1px solid #d9d9d9;
      padding: 12px 24px;
      display: flex;
      align-items: center;
      .left-content {
        display: flex;
        flex-direction: column;
    
        .file-name {
          font-weight: 600;
        }
        .extra-info {
          display: flex;
          flex-direction: row;
          color: $clr_dark_gray;
          div:first-child {
            &::after {
              content: '●';
              margin: 0 8px;
            }
          }
        }
      }

      .right-content {
        margin-left: auto;
        button {
          margin-left: 8px;
        }
      }
    }
    .mono__uploader--file-type {

      margin-right: 16px;
      path {
        fill: $clr_dark_gray;
      }
    }
  }
}
